
body {
  color: white;
  background: linear-gradient(180deg, #1f1c2c, #182848)
}

main {
  background: linear-gradient(180deg, #1f1c2c, #182848);
}

.title-page-text {
  color: #ffc107;
  font-size: 1.25rem;
  line-height: 0;
  letter-spacing: -0.01em;
  top: -40px;
  position: relative;
}

/* Fix colors for text, links, etc. */
a {
  color: #ffc107;
}

.md-tabs__link:hover, a:hover {
  color: #ffc107;
}

.md-typeset h1, h1,
.md-typeset h2, h2,
.md-typeset h3, h3,
.md-typeset h4, h4,
.md-typeset h5, h5 {
  color: #ffc107;
  text-transform: none;
}

.md-typeset .md-content__button,
.md-typeset .md-content__icon {
  color: #ffc107;
}

.md-typeset a {
  color: #ffc107;
}

.external:after {
  content: url('../img/open_in_new.svg');
  text-decoration: inherit;
  color: #ffc107;
}

/* Fix nav link color colors */
.md-nav__item .md-nav__link--active,
.md-tabs__link--active,
.md-nav__link--active,
.md-nav__link:active,
.md-nav--primary .md-nav__item--active>.md-nav__link {
  color: #ffc107;
  font-weight: bold;
}

/* Fix nav link color colors */
.md-nav__link[data-md-state=blur] {
  color: #ffc107;
}

/* Fix code block colors */
.md-typeset code, .md-typeset pre, code {
  background-color: hsla(0,0%,50.5%,.5);
  box-shadow: 0.29412em 0 0 hsla(0,0%,50.5%,.5), -0.29412em 0 0 hsla(0,0%,50.5%,.5);
  color: #ffc107;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

/* Fix nav title position */
.md-header-nav__topic {
  margin-top: 6px;
}

/* Fix logo sizing */
.md-header-nav__button.md-logo img,
/* Fix mobile navigation logo */
.md-nav__title .md-nav__button.md-logo img {
  height: 36px;
  width: auto;
}

.md-typeset table:not([class]) {
  background: transparent;
}

.md-typeset hr {
  border-color: #ffc107;
}

/* Fix mobile styling */
@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title,
  .md-nav--primary .md-nav__title~.md-nav__list {
    background-color: black;
    color: white;
  }
  .md-nav {
    background-color: transparent;
  }
}
